
<form  class="col-md-5" name="editForm" ng-click="submitItem()" ng-submit="service()">

    <div class="form-group">
        <label>Type Of Sales</label>
        <input type="text" class="form-control" ng-change="validateFields('typeOfSales')" ng-focus="validateFields('typeOfSales')" name="typeOfSales" placeholder="type of sales" ng-model="itemCopy.typeOfSales" required>
        <span class = "error-message" ng-if="!validTypeOfSales">*Please fill out this field</span>
    </div>

    <div class="form-group">
        <label>Booking Text</label>
        <input type="text" class="form-control" ng-change="validateFields('bookingText')" ng-focus="validateFields('bookingText')" name="bookingText" placeholder="booking text" ng-model="itemCopy.bookingText" required>
        <span class = "error-message" ng-if="!validBookingText">*Please fill out this field</span>
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="text" class="form-control" ng-change="validateFields('date')" ng-focus="validateFields('date')" placeholder="date format DD.MM.YYYY" ng-pattern='/^(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}$/'name="date" ng-model="itemCopy.date" required> 
        <span class = "error-message"  ng-if="!validDate">*Please enter a valid date 'dd.mm.yyyy'</span>

    </div>

    <div class="form-group">
        <label>Amount</label>
        <input type="text" class="form-control" ng-change="validateFields('amount')" ng-focus="validateFields('amount')" placeholder="amount" ng-pattern="/^-?(?:\d+|\d{1,3}(?:,\d{3})+)(?:(\.|,)\d+)?$/" name="amount" ng-model="itemCopy.amount" required>
        <span class = "error-message" ng-if="!validAmount">{{customMessageAmount}}</span>
    </div>
    <button type="submit" ng-disabled="!editForm.$valid" class="btn btn-primary">Confirm</button>
    <button ui-sref="home" class="btn btn-warning">Cancel</button>

</form>