
<div class="home">
  <h5>home</h5>
  <a ui-sref="home.view1">view1</a>
  <div ui-view></div>

  <h1>{{bookingData[0].date}}</h1>



  <table>
      <tr>
        <th>Number</th>
        <th>Sales</th> 
        <th>Booking</th>
        <th ng-click="$ctrl.sortData('date')"><div ng-class="$ctrl.getSortClass('date')">Date</div></th>
        <th ng-click="$ctrl.sortData('amount')"><div ng-class="$ctrl.getSortClass('amount')">Amount</div></th>
      </tr>
      <tr ng-repeat="item in $ctrl.bookingData | orderBy:'$ctrl.sortColumn':'$ctrl.reverseSort'">
        <td>{{$index}}</td>
        <td>{{item.typeOfSales}}</td> 
        <td>{{item.bookingText}}</td>
        <td>{{item.date | date: 'dd.MM.yyyy'}}</td>
        <td ng-click="$ctrl.sortByAmount('amount')">{{item.amount | currency:'€'}}</td>
        <td><button ng-click="$ctrl.editItem(item, $index)">Edit</button></td>
        <td><button ng-click="$ctrl.deleteItem(item, $index)">Delete</button></td>

      </tr>

    </table>
</div>