.home{
    .home-options{
        .search-field{

        }
        .add-button{
            align:right;
        }
    }
    .click-header:hover{
        cursor: pointer;
    }
}
.table{
    width:100%;
    th{
        text-align: left;
    }
    tr{
        td{
        }
        button{
        }
    }
    
}


.sortorder:after {
    content: '\25b2';   
   }
.sortorder.reverse:after {
content: '\25bc';  
}

@media only screen and (min-width: 768px) {
    .action-button{
        width:60px;
    }
}
