
<div class="home">
  <input type="text" placeholder="Type to search..">
  <button>Add New</button>
  <a ui-sref="home.view1">view1</a>
  <div ui-view></div>


  <table>
      <tr>
        <th>Number</th>
        <th>Sales</th> 
        <th>Booking</th>
        <th ng-click="$ctrl.sortData('date')"><div ng-class="$ctrl.getSortClass('date')">Date
          <span ng-show = "$ctrl.sortColumn == 'date'" class = "sortorder" ng-class="{reverse:$ctrl.reverseSort}"></span>
        </div></th>
        <th ng-click="$ctrl.sortData('amount')"><div ng-class="$ctrl.getSortClass('amount')">Amount
          <span ng-show = "$ctrl.sortColumn == 'amount'" class = "sortorder" ng-class="{reverse:$ctrl.reverseSort}"></span>
        </div></th>
      </tr>
      <tr ng-repeat="item in $ctrl.bookingData | orderBy:$ctrl.sortColumn:$ctrl.reverseSort">
        <td>{{$index}}</td>
        <td>{{item.typeOfSales}}</td> 
        <td>{{item.bookingText | shortenText}}</td>
        <td>{{item.date | date: 'dd.MM.yyyy'}}</td>
        <td>{{item.amount | currency:'€'}}</td>
        <td><button ng-click="$ctrl.navigateEdit(item)">Edit</button></td>
        <td><button ng-click="$ctrl.deleteItem(item, $index)">Delete</button></td>

      </tr>

    </table>
</div>