.home {
    a {
        display: inline-block;
        margin: 10px 0 30px 0;
        &:hover {
            color: #108ee9;
        }
    }
    table{
        width:100%;
        th{
            text-align: left;
        }
        tr{
            td{
            }
            button{
            }
        }
       
    }
}

.sortorder:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
   }
   .sortorder.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
   }
