<div class="main-container container">
        <nav class="navbar navbar-default">
            <div>
                <div class="navbar-header">
                    <a class="navbar-brand">Booking Application</a>
                </div>

                <div>
                    <ul class="nav navbar-nav">
                        <li class="menu-button" ui-sref="home" ui-sref-active="active">
                            <a>Home</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <div ui-view class="view"></div>
</div>